<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yousefgrad">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".trackdriver"></activity>
        <activity android:name=".option">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".onlineuser" />
        <activity android:name=".home2" />
        <activity android:name=".registerdriver" />
        <activity android:name=".logindriver" />
        <activity android:name=".onlineDrivers" />
        <activity android:name=".login" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBr8VCi4dOLmROGkBnodS-ouQj8hP4-a8M" />

        <activity android:name=".register" />
        <activity android:name=".home" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>